h1,
h2,
h3,
.western-christmas {
  /* font-family: "Castoro Titling", serif; */
  font-family: var(--font-western-christmas);
  line-height: 1;
}

.knucklehead-slab-ultra-black {
  line-height: 1;
  font-family: var(--font-knucklehead-slab-ultra-black);
  font-display: swap;
  font-weight: 100 800;
}

body {
  font-weight: 400;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-block: 1.5rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-block: 1rem;
}
