---
import { Image } from 'astro:assets';
import heroPoster from '../assets/images/hero-poster.webp';
---

<section class="hero-banner">
  <div class="container">
    <div class="hero-content">
      <p class="western-christmas">Welcome to the 2026</p>
      <h1 class="knucklehead-slab-ultra-black">
        MONTANA TATTOO<br />
        &amp; Western Arts Rendezvous!
      </h1>

      <h3>A small show with a lot of talent. It's one not to miss out on.</h3>
    </div>
    <div class="hero-image">
      <Image
        src={heroPoster}
        alt="Butte Montana Tattoo & Western Arts Rendezvous"
        format="webp"
        fetchpriority="high"
        class="hero-poster"
      />
    </div>
  </div>
</section>

<style>
  .hero-banner {
    background-color: var(--dark-blue);
    background-image: url('/public/images/hero-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    padding: 2rem 0;
    color: var(--white);
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .hero-image img {
    border: 0.5rem solid white;
    box-shadow:
      2px 2px 0px #f4a708,
      4px 4px 3px rgba(0, 0, 0, 0.75);
    position: relative;
    width: 400px;
    height: auto;
  }

  .hero-poster {
    max-width: 100%;
  }

  h1 {
    color: var(--white);
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    text-shadow: 1px 1px 0 black;
  }

  h3 {
    color: var(--highlight-color);
    text-shadow: 2px 2px 0 black;
    font-size: 1.5rem;
  }

  p {
    color: var(--highlight-color);
  }

  @media (min-width: 768px) {
    .hero-banner {
      flex-direction: row;
      gap: 2rem;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 2rem;
      place-items: center;
    }

    .hero-image img {
      rotate: 2deg;
      width: 500px;
    }

    .hero-poster {
      width: min(100%, 800px);
      height: auto;
    }

    h1 {
      font-size: 4rem;
      text-shadow: 2px 2px 0 black;
    }

    h3 {
      font-size: 2.5rem;
    }

    p {
      font-size: 2rem;
      margin: 0;
    }
  }
</style>
